* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c';
}

.main {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.title-contents {
  background-color: #a0d8ef;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-fee-contents {
  font-size: 25px;
  color: white;
  letter-spacing: 8px;
}

.total-fee {
  font-size: 80px;
  color: white;
}

.today-date {
  font-size: 25px;
  color: white;
  letter-spacing: 6px;
}

.today-date span {
  margin-left: 24px;
  letter-spacing: 6px;
}

.item-lists {
  width: 100%;
}

.item-list {
  list-style: none;
}

.item-list-head {
  background-color:#c0c0c0;
  height: 70px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-list-head-content {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registration-date {
  display: flex;
  align-items: center;
}

.fee {
  font-size: 42px;
  font-weight: 600;
}

.triangle {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid black;
  margin-right: 12px;
}

.item-main-lists {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.item-main-list {
  list-style: none;
  width: 90%;
  border-bottom: 1px solid #c0c0c0;
  padding: 16px 0 24px;
}

.item-main-list-detail {
  display: flex;
  justify-content: space-between;
}

.item-main-list-detail-left-content {
  margin-left: 48px;
  
  display: flex;
  align-items: flex-start;
}

.item-main-list-detail-left-content-fee {
  font-size: 42px;
  font-weight: 600; 
}

.item-main-list-detail-left-content-fee p {
  font-size: 22px;
}

.item-main-list-detail-left-content-tag {
  margin-left: 60px;
  font-size: 22px;
  font-weight: 600; 
  margin-top: 12px;
}

.item-main-list-detail-show {
  height: fit-content;
  color: white;
  background: #a0d8ef;
  padding: 1px 30px;
  margin: auto 0;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  border: none;
}