* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c';
}

/* header */
.new-page-main{
  width: 100vw;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 33px;
}

.new-page-header{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.new-item-register{
  font-size: 53px;
  font-weight: 600;
  letter-spacing: 6px;
  margin-left: 185px;
}
/* /header */

/* 商品画像 */
.new-item-lists {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;
}

.new-item-list {
  width: 90%;
  border-bottom: 2px solid #c0c0c0;
  padding: 16px 0 65px;
}

.new-item-list-head {
  display: flex;
  justify-content: space-between;
}

.new-item-list-head-content {
  display: flex;
  align-items: flex-start;
}

.img-upload {
  font-size: 30px;
  font-weight: 500; 
  margin-left: 50px;
  letter-spacing: 5px;
}

.optional {
  height: fit-content;
  color: white;
  background-color: #a0d8ef;
  padding: 1px 15px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
  text-align: center;
  border: none;
}

.new-item-image-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.new-item-image-content {
  width: 70%;
  height: 300px;
}

.new-item-image-data {
  letter-spacing: 1px;
}
/* /商品画像 */

/* 共通 */
.new-item-name {
  width: 90%;
  border-bottom: 2px solid #c0c0c0;
  padding: 22px 0 65px;
}

.new-item-name-head {
  display: flex;
  justify-content: space-between;
}

.new-item-name-head-content {
  display: flex;
  align-items: flex-start;
}

.new-items {
  font-size: 30px;
  font-weight: 500; 
  margin-left: 50px;
  letter-spacing: 5px;
}

.mandatory {
  height: fit-content;
  color: white;
  background-color: red;
  padding: 1px 15px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
  text-align: center;
  border: none;
}

.new-item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.new-item-text-content {
  width: 85%;
  height: 80px;
}

.new-item-text-data {
  width: 100%;
  height: 80px;
}

.new-item-text-data-content {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  border-color: #c0c0c0;;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-left: 18px;
  padding-top: 18px;
}


/* /共通 */

/* カテゴリー＆後悔度ボタン */

.new-item-select {
  width: 85%;
  height: 80px;
}

.new-item-select-content {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  border-color: #c0c0c0;;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-left: 18px;
}
/* /カテゴリー＆後悔ボタン */

/* 下部ボタン */
.sell-btn-contents {
  width: 90%;
  text-align: center;
  margin-bottom: 100px;
}

.sell-btn {
  background: #a0d8ef;
  color:white;
  width: 100%;
  height: 80px;
  font-size: 28px;
  letter-spacing: 1px;
  margin-top: 80px;
  margin-bottom: 50px;
  border-radius: 100px;
}

.back-btn {
  background: #c0c0c0;
  color: white;
  font-size: 28px;
  letter-spacing: 1px;
  border-radius: 100px;
  padding: 20px 335px;
  text-decoration: none;
}
/* /下部ボタン */