<div class="top-page"> 
  <div class="service-wrapper">
    <div class="service-contents">
      <div class="service-overview">
        <div class="service-title">
          無駄遣いSHOW
        </div>
        <div class="service-subtitle">
          ここから始めよう。
        </div>
        <div class="service-description">
          支出/浪費/消費の登録が可能。<br>
          無駄遣いを可視化する事で少しでも<br>
          生活に変化に起きるかと思います。<br>
        </div>
      </div>
    </div>

      <div class="choice-button">
        <%# pathの設定を行う、furimaを参照 %>
        <%= link_to 'ログイン',"/", class: "login" %><br>
        <%= link_to '新規登録',"/", class: "sign-up" %>
        <%# pathの設定を行う、furimaを参照 %>
      </div>
  </div>
</div>