  <div class='show-page-main'>
    <div class="show-page-header">
      <div class="arrow-left"></div>
      <span class="show-items">詳細情報一覧</span>
    </div>

    <%# 商品画像 %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
            <div class="show-item-list-head-content">
              <div class="show-name-left">商品画像</div>
            </div>
          </div>
          <div class="show-item-image-upload">
            <div class="show-item-image-content">
              <div class="show-item-image-data">
              <%# インスタンス変数の設定 %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%# /商品画像 %>

    <%# 商品名 %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
                <div class='registration-date'>
                    <div class="show-name-left">商品名</div>
                </div>
                <span class="show-name-light">¥1,000</span>
          </div>
        </div>
      </div>
    <%# /商品名 %>

    <%# カテゴリー %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
                <div class='registration-date'>
                    <div class="show-name-left">カテゴリー</div>
                </div>
                <span class="show-name-light">趣味・娯楽</span>
          </div>
        </div>
      </div>
    <%# /カテゴリー %>

    <%# 合計金額 %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
                <div class='registration-date'>
                    <div class="show-name-left">合計金額</div>
                </div>
                <span class="show-name-light">¥10,000</span>
          </div>
        </div>
      </div>
    <%# /合計金額 %>

    <%# 後悔度 %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
                <div class='registration-date'>
                    <div class="show-name-left">後悔度</div>
                </div>
                <span class="show-name-light">★★★★★</span>
          </div>
        </div>
      </div>
    <%# /後悔度 %>

    <%# メモ %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
                <div class='registration-date'>
                    <div class="show-name-left">メモ</div>
                </div>
                <span class="show-name-light">Aさん＆Bさんと飲み会</span>
          </div>
        </div>
      </div>
    <%# /メモ %>

    <%# 日付 %>
      <div class="show-item-lists">
        <div class="show-item-list">
          <div class="show-item-list-head">
                <div class='registration-date'>
                    <div class="show-name-left">日付</div>
                </div>
                <span class="show-name-light">2021.10.13(水)</span>
          </div>
        </div>
      </div>
    <%# /日付 %>

    <%# 下部ボタン %>
    <div class="new-item-lists">
      <div class="sell-btn-contents">
        <div class="edit-btn">編集する</div>
        <div class="delete-btn">削除する</div>
      </div>
    </div>
    <%# /下部ボタン %>

  </div>